<div class="row">
    <div class="col-6">
        <!-- formulario de prestamo -->
        <form class="row g-3 needs-validation" novalidate>
            <div class="col-md-3">
                <label for="validationCustom01" class="form-label">Cedula</label>
                <input type="number" (keyup)="handlerInput($event)" name="cedula" [(ngModel)]="cedula" class="form-control" id="validationCustom01" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-9">
                <label for="validationCustom02" class="form-label">Nombre</label>
                <input type="text" value="{{cliente !== null ? cliente.nombre: ''}}" class="form-control" id="validationCustom02" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-8">
                <label for="validationCustomUsername" class="form-label">Mail</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                    <input type="text" value="{{cliente !== null ? cliente.mail: ''}}" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationCustom03" class="form-label">Telefono</label>
                <input type="text" class="form-control" value="{{cliente !== null ? cliente.telefono: ''}}" id="validationCustom03" required>
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
            </div>
            <div class="wrapper" *ngIf="formCliente">
                <div class="col-md-6">
                    <label for="validationCustom05" class="form-label">Edad</label>
                    <input type="text" class="form-control" id="validationCustom05" required>
                    <div class="invalid-feedback">
                        Please provide a valid zip.
                    </div>
                </div>
                <div class="col-12">
                    <label for="validationTextarea" class="form-label">Direccion</label>
                    <textarea class="form-control" name="direccion" id="validationTextarea" placeholder="Required example textarea" required></textarea>
                </div>
            </div>

            <div class="col-12">
                <button *ngIf="cliente !== null" class="btn btn-primary" type="submit">Aceptar</button>
                <button *ngIf="formCliente" (click)="guardarCliente()" class="btn btn-primary" type="submit">Guardar Cliente</button>
            </div>
        </form>
    </div>
    <div class="col-6">
        <!-- detalle de bike -->
        <app-bike *ngIf="bike !== null" [caller]="'prestamo'" [bike]="bike"></app-bike>
    </div>
</div>
