<div class="card" style="margin-bottom: 15px;text-align: center;">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
        <a style="margin: 3px;" href="#" class="btn btn-outline-primary">Detalle</a>
        <a style="margin: 3px;" routerLink="/nuevo-prestamo" href="#" class="btn btn-outline-danger">Rentar</a>
    </div>
</div>
