.fond{padding-top:45px;top:0;left:0; right:0;bottom:0;
  background-color:#00a096;}
 
 .carre_couleur
 {
   width:200px;
   height: 200px;
   display: inline-block;
   position: relative;
   margin-top: 0px;
 }
 .base_hov .retract
 {
   -webkit-transition: all 200ms ease-in;
   -webkit-transform-origin: 50% 20%; 
   -webkit-transform: scale(1);
   -moz-transition: all 200ms ease-in;
   -moz-transform-origin: 50% 20%;
   -moz-transform: scale(1);
   -ms-transition: all 200ms ease-in;
   -ms-transform-origin: 50% 20%;
   -ms-transform: scale(1);
   transition: all 200ms ease-in;
   transform-origin: 50% 20%;
   transform: scale(1);
   width:200px;
   height: 200px;
   position: absolute;
   z-index: 2;
   left:0;
 }
 .base_hov:hover .retract
 {
   -webkit-transition: all 200ms ease-in;
   -webkit-transform: scale(0.6);
   -moz-transition: all 200ms ease-in;
   -moz-transform: scale(0.6);
   -ms-transition: all 200ms ease-in;
   -ms-transform: scale(0.6);
   transition: all 200ms ease-in;
   transform: scale(0.6);
 }
 .acced
 {
   width: 180px;
   padding:10px;
   bottom:0; 
   position:absolute;
   z-index: 1; 
   text-align: left;
 }
 .big_acced
 {
   color:#ffffff;
   font-size:25px;
   font-weight: 400;
   font-family:'Roboto';
 }
 .middle_acced
 {
   color:#ffffff;
   font-size:15px;
   font-weight: 400;
   font-family:'Roboto';
 }
/* ---------------- */
body {
    margin:0;
    padding:0;
    background:#ccc;
    font-family: 'Roboto Condensed', sans-serif;
  
  }
  .container {
    height: 300px;
  }
  ul {
    position:absolute;
    bottom:-170%;
    left:50%;
    transform:translate(-50%, -50%);
    display:flex;
    margin:0;
    padding:0;
  }
  
  ul li {
    list-style:none;
    margin:0 5px;
  }
  
  ul li a .fa {
    font-size: 40px;
    color: #262626;
    line-height:80px;
    transition: .5s;
    padding-right: 14px;
  }
  
  ul li a span {
    padding:0;
    margin:0;
    position:absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 4px;
    transition: .5s;
  }
  
  ul li a {
    text-decoration: none;
    display:absolute;
    display:block;
    width:210px;
    height:80px;
    background: #fff;
    text-align:left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0,0);
    transition:.5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,.5);
  }
  ul li a:before {
    content: '';
    position: absolute;
    top:10px;
    left:-20px;
    height:100%;
    width:20px;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
  }
  ul li a:after {
    content: '';
    position: absolute;
    bottom:-20px;
    left:-10px;
    height:20px;
    width:100%;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
  }
  
  ul li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
    box-shadow: -50px 50px 50px rgba(0,0,0,.5);
  }
  
  ul li:hover .fa {
    color:#fff;
  }
  
  ul li:hover span {
    color:#fff;
  }
  
  ul li:hover:nth-child(1) a{
    background: #3b5998;
  }
  ul li:hover:nth-child(1) a:before{
    background: #365492;
  }
  ul li:hover:nth-child(1) a:after{
    background: #4a69ad;
  }
  
  ul li:hover:nth-child(2) a{
    background: #00aced;
  }
  ul li:hover:nth-child(2) a:before{
    background: #097aa5;
  }
  ul li:hover:nth-child(2) a:after{
    background: #53b9e0;
  }
  
  ul li:hover:nth-child(3) a{
    background: #dd4b39;
  }
  ul li:hover:nth-child(3) a:before{
    background: #b33a2b;
  }
  ul li:hover:nth-child(3) a:after{
    background: #e66a5a;
  }
  
  ul li:hover:nth-child(4) a{
    background: #e4405f;
  }
  ul li:hover:nth-child(4) a:before{
    background: #d81c3f;
  }
  ul li:hover:nth-child(4) a:after{
    background: #e46880;
  }
  .footer {
    margin-bottom: 10px;
    margin-top: 10px;
  }